@import './partials/_reset.scss';

main {
    background-color: white;
    position: relative;
    left: 0px;
    right: 0px;
    padding: 10px;
}

h1 {
    color: #2f5c82;
    font-size: 40px;
    text-align: center;
    font-weight: normal;
    padding: 20px;
}

label {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    font-size: 10pt;
}

input[type="text"] {
    font-size: 10pt;
    width: 200px;
    height: 28px;
    outline: none !important;
    position: relative;
    color: grey;
}

input[type="button"] {
    font-weight: bold;
    padding: 5px;
    background-color: steelblue;
    border: none;
    color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    &:hover {
        background-color: #4077a5;
    }
    &:active {
        background-color: #335e83;
    }
}

#filmDis {
    width: 80%;
    min-height: 400px;
    background-color: #a6a6a6;
    border: none;
    border-radius: 1px;
    margin: auto;
    box-shadow: 0px 0px 5px black;
    text-align: center;
    img {
        width: 180px;
        padding-top: 100px;
    }
}

a {
    font-size: 10pt;
    color: #343434;
    cursor: pointer;
    text-shadow: 1px 1px 1px darkgray;
}

aside ul {
    padding: 0px;
    margin: 0px;
}

aside li {
    display: inline-block;
    list-style-type: none;
    width: 70px;
    height: 17px;
    margin: 5px;
    text-align: center;
    font-size: 10pt;
    color: #343434;
    cursor: pointer;
    text-shadow: 1px 1px 1px darkgray;
}

aside a:hover {
    text-decoration: underline;
}

aside {
    background-color: #a6a6a6;
    padding: 10px;
    font-size: 10pt;
    color: #343434;
    position: absolute;
    right: 0px;
    top: 251px;
    width: 8%;
    border: none;
    border-radius: 1px;
    box-shadow: 0px 0px 5px black;
    text-align: center;
}

@media (max-width: 940px) {
    aside {
        position: relative;
        width: 75%;
        margin: auto;
        padding: 10px;
        top: 10px;
    }
}